ion-item.item-interactive {
    --border-width: 1px 1px 1px 1px;
    --border-radius: 8px 8px 8px 8px;
        //margin-bottom: 10px;
    //--background: rgba(var(--ion-color-dark-rgb), 0.09);
    --inner-border-width: 0;
    --min-height: 60px;
    //--max-height: 60px;

}
