.ngx-charts, ion-header, ion-card-header, ion-item, ion-button, ion-back-button, ion-buttons, ion-chip, ion-refresher, ion-refresher-content, mat-expansion-panel-header, app-form-errors {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
