:host{
  display: block;
}
ion-item.item-interactive {
  //--border-width: 0px 0px 1px 0px;
}

ion-item {
  //margin: 20px;
  box-shadow: none !important;
  border: none !important;
}

ion-card{
  height: 100%;
  width: 100%;
}
