<ion-content *ngVar="(user | async) as currentUser">
  <ion-list class="ion-no-margin ion-no-padding">
    <ion-item class="ion-no-padding" lines="full" *ngIf="currentUser">
      <app-image [src]="null"
                 [rounded]="true" style="height: 70px;width: 70px" slot="start" *ngIf="currentUser">
        <app-ionicon-person-outline class="text-5xl"></app-ionicon-person-outline>
      </app-image>
      <ion-label>
        <h2>{{currentUser.username}}</h2>
        <p>{{(currentUser.roles)[0]?.nom}}</p>
        <p>{{currentUser.roles|json}}</p>
      </ion-label>
    </ion-item>
    <ion-item lines="full" >
      <ion-label>Mon compte</ion-label>
    </ion-item>
    <ion-item lines="none" button (click)="logout()">
      <ion-label>se deconnecter</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
