:host {
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .infinite-scroll-container {
    width: 100%;
    height: var(--size);
    box-shadow: inset 0px 2px 6px -1px rgb(var(--ion-color-dark-rgb), .07) !important;
    @apply bg-light-tint;
    //background-color: rgba(var(--ion-color-light-rgb)/30%);
    //box-shadow: 0px 7px 8px 5px rgb(0 0 0 / 30%);
  }

  &.horizontal {
    height: 100%;
    @apply flex flex-row;

    .infinite-scroll-container {
      width: var(--size);
      height: 100%;
      //box-shadow: 0px 7px 8px 5px rgb(0 0 0 / 30%);
    }
  }
}
